server:
  port: 8080

spring:
  profiles:
    active: local
  datasource:
    driver-class-name: org.postgresql.Driver
    username: test
    password: test
    url: jdbc:postgresql://localhost:5432/test
  jpa:
    hibernate:
      ddl-auto: validate

  liquibase:
    change-log: "classpath:db/changelog/master.yml"

feign:
  url:
    goods: localhost:8096
    OrderServiceClient: localhost:8888
    PaymentServiceClient: localhost:8091