server:
  port: 8088

spring:
  datasource:
    driver-class-name: org.postgresql.Driver
    username: super_admin
    password: SomeSecretPassword
    url: jdbc:postgresql://localhost:5432/postgres
  jpa:
    hibernate:
      ddl-auto: validate

  liquibase:
    change-log: "classpath:db/changelog/master.yml"

feign:
  url:
    goods: localhost:8096
    OrderServiceClient: localhost:8888
    PaymentServiceClient: localhost:8091